*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/
.idea/markdown-navigator.xml
hs_err_pid12380.log
hs_err_pid14884.log
hs_err_pid3500.log
replay_pid12380.log
replay_pid14884.log
replay_pid3500.log
